* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  direction: rtl;
}

body {
  font-family: "Vazirmatn", Tahoma, sans-serif;
  background: #f7f8f8;
  color: #282828;
}

button,
input {
  font-family: inherit;
}
